:root {
  --desktopPrimary: #fc4445;
  /* --desktopPrimary: #a33327; */
}

.contactContainer {
  height: auto;
  width: auto;
  border-bottom: 2px solid rgb(30, 30, 119);
  background-color: black;
  padding-top: 50px;
}

.headingC {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 30px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* margin-top: 50px; */
  margin-bottom: 6px;
}
.lineC {
  width: 12%;
  margin: auto;
  margin-bottom: 30px;
  border: 2px solid var(--desktopPrimary);
}
.paraC {
  color: white;
  text-align: center;
  font-size: 18px;
  width: 60%;
  margin: auto;
  /* margin-bottom: 20px; */
}
.cBox {
  height: auto;
  width: 80%;
  border: 0px solid #dd9a05;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  margin-top: 80px;
  /* margin-bottom: 30px; */
}
.commonCBox {
  /* height: 50px; */
  width: auto;

  /* border: 1px solid blue; */
}
.iconss {
  color: var(--desktopPrimary);
  font-size: 35px;
  cursor: pointer;
}
.commonCBox p a,
.commonCBox p {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
/*Form css */
.formBox {
  /* border: 1px solid green; */
  width: 500px;
  margin: auto;
  margin-top: 30px;
}
.Form {
  background-color: black;
}
.inputBox {
  display: block;
  border: 1px solid var(--desktopPrimary);
  width: 100%;
  height: 40px;
  background-color: black;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 10px;
  color: white;
}
.inputBox:focus {
  outline: none;
  background-color: transparent;
  border: 1px solid var(--desktopPrimary);
  border-radius: 6px;
}
textArea {
  display: block;
  width: 100%;
  height: 250px;
  border: 1px solid var(--desktopPrimary);
  background-color: black;
  margin-bottom: 15px;
  box-sizing: border-box;
  font-size: 18px;
  padding: 5px 10px;
  color: white;
  resize: none;
}
.textArea:focus {
  outline: none;
  border: 1px solid var(--desktopPrimary);
  border-radius: 6px;
}
.submitButton {
  background-color: var(--desktopPrimary);
  color: white;
  font-size: 15px;
  padding: 10px 14px;
  border-radius: 8px;
  border: 2px solid var(--desktopPrimary);
  letter-spacing: 1px;
  font-weight: 100;
  display: block;
  margin: auto;
}
.submitButton:hover {
  background-color: black;
  color: var(--desktopPrimary);
  border: 2px solid var(--desktopPrimary);
  cursor: pointer;
}
.copyright {
  color: #fff;
  text-align: center;
  font-size: 16px;
  margin: 15px 0;
}

/* Media Query for low resolution  Tablets, Ipads */
@media screen and (max-width: 767px) {
  .lineC {
    border-color: #bc4123;
  }
  .contactContainer {
    background-color: rgb(2, 9, 31);
  }
  .cBox {
    /* width: 80%; */
    border: 0px solid red;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 15px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .commonCBox {
    margin-bottom: 20px;
  }
  .iconss {
    display: block;
    margin: auto;
    color: #bc4123;
  }
  .formBox {
    width: 350px;
    background-color: rgb(2, 9, 31);
  }
  .Form {
    background-color: rgb(2, 9, 31);
  }
  .inputBox,
  textArea {
    background-color: rgb(2, 9, 31);
    border-color: #bc4123;
  }
  .submitButton {
    background-color: #bc4123;
    border-color: #bc4123;
  }
  .submitButton:hover {
    background-color: rgb(2, 9, 31);
    color: #bc4123;
    border-color: #bc4123;
  }
}
/* mobile */
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .cBox {
    display: block;
  }
  .lineC {
    border-color: #dd9a05;
  }
  .commonCBox {
    width: auto;
    margin-bottom: 15px;
  }
  .iconss {
    margin-left: 0%;
    color: #dd9a05;
  }
  .paraC {
    width: 90%;
  }
  .commonCBox p {
    /* width: 70%; */
    text-align: start;
    overflow-wrap: break-word;
  }
  .formBox {
    width: 80%;
  }
  .textArea,
  .inputBox {
    font-size: 15px;
  }
  .textArea {
    height: 200px;
  }
}

/* ////////////////////////////////////  */
.top-to-btm {
  position: relative;
}
.icon-position {
  position: fixed;
  bottom: 30px;
  right: 15px;
  z-index: 20;
}
.icon-style {
  background-color: var(--desktopPrimary);
  border: 1px solid #fff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}
.icon-style:hover {
  animation: none;
  background: #fff;
  color: var(--desktopPrimary);
  border: 2px solid var(--desktopPrimary);
}
@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
