.scollIndicator {
  height: 8px;
  width: 100%;
  background: rgb(68, 67, 67);
  position: fixed;
  top: calc(0+75px);
  right: 0;
  z-index: 1000000;
  transition: 0.3s ease-in-out;
}
.progress {
  height: 100%;
  /* width: 20%; */
  background-color: #dd9a05;
}
.scollIndicatorNone {
  display: none;
}
