.heading {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 30px;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* margin-top: 40px; */
  margin-bottom: 6px;
}
.line {
  width: 8%;
  margin: auto;
  margin-bottom: 15px;
  border: 2px solid #dd9a05;
}
.main {
  padding-top: 40px;
  background-color: #090514;
  padding-bottom: 40px;
  /* border: 3px solid green; */
}
.second {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 5%;
  margin: auto;
  /* border: 3px solid orange; */
}
.graph {
  width: 70%;
  margin: auto;
  margin-top: 40px;
  box-shadow: rgba(17, 17, 51, 0.25) 0px 6px 12px -2px,
    rgba(5, 9, 31, 0.3) 0px 3px 7px -3px;
  /* border: 2px solid blue; */
}
.graphPic {
  width: 100%;
}
.statsPicBox {
  height: auto;
  width: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 1024px) {
  .graph {
    /* width: 100px; */
    width: 70%;
    /* border: 2px solid blue; */
  }
  .graphPic {
    width: 100%;
  }
}
@media screen and (max-width: 770px) {
  .main {
    background-color: #0b172a;
  }
  .iconsContainer {
    width: 85%;
    /* background-color: purple; */
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  .second {
    padding: 0 10%;
    /* border: 3px solid red; */
  }

  .heading {
    font-size: 30px;
  }
  .line {
    margin-bottom: 15px;
    border-color: #bc4123;
  }
  .graph {
    /* border: 2px solid red; */
    box-sizing: border-box;
    padding: 0 10%;
    width: 100%;
  }
  .graphPic {
    width: 100%;
  }
  .statsPicBox {
    width: 90vw;
  }
  .statsPicBox img {
    width: 90%;
  }
}
/* mobile */
/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .main {
    background-color: #800000;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
  }
  .line {
    border: 2px solid #dd9a05;
  }
  .graph {
    width: 100%;
    padding: 0px 0px;
    /* border: 2px solid black; */
  }
  .graphPic {
    width: 100%;
    /* border: 2px solid blue; */
  }
  .statsPicBox {
    width: 90vw;
  }
  .statsPicBox img {
    width: 90%;
  }
}
