.headingTeck {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 33px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 6px;
}
.lineTeck {
  width: 300px;
  margin: auto;
  margin-bottom: 25px;
  border: 2px solid #dd9a05;
}
#teck {
  background-color: #090514;
  /* border: 3px solid red; */
  width: 100%;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconsContainer {
  height: auto;
  width: 100%;
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.box {
  background-color: #1a1036;
  display: block;
  padding: 8px 0px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: all 0.7s ease-in-out;
  border: 1px solid lightgray;
}
.box:hover {
  background-color: #291b50;
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.01);
  border-radius: 5px;
}
.title {
  color: white;
  text-align: center;
  font-size: 17px;
}

.icon {
  width: 70px;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

/* Media Query for Tablets Ipads portrait mode */

@media screen and (max-width: 1200px) {
  #teck {
    padding-left: 5%;
    padding-right: 5%;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media screen and (max-width: 820px) {
  #teck {
    background-color: #0b172a;
    padding-top: 20px;
    padding-left: 2%;
    padding-right: 2%;
  }
  .iconsContainer {
    /* background-color: purple; */
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    /* border: 2px solid greenyellow; */
  }
  .box {
    background-color: #031d41;
  }
  .headingTeck {
    font-size: 30px;
  }
  .lineTeck {
    margin-bottom: 15px;
  }
  .icon {
    width: 60px;
  }
}
/* mobile */
/* Media Query for Mobile Devices */

@media (max-width: 480px) {
  #teck {
    background-color: #800000;
    /* border: 2px solid green; */
    padding-left: 1%;
    padding-right: 1%;
    /* padding: 0; */
  }

  .iconsContainer {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    /* border: 2px solid blue; */
  }
  .iconBox {
    padding-top: 0px;
  }
  .box {
    background-color: #a52a2a;
  }
  .box:hover {
    background-color: #882673;
    border-radius: 5px;
  }
  .headingTeck {
    font-size: 30px;
    width: 65%;
  }
  .lineTeck {
    width: 150px;
    margin-bottom: 15px;
  }
  .icon {
    width: 55px;
  }
}
