:root {
  --desktopPrimary: #fc4445;
  /* --desktopPrimary: #a33327; */
}

.headingTeck {
  text-align: center;
  margin: auto;
  color: white;
  font-size: 33px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 6px;
}
.lineTeck {
  width: 40px;
  margin: auto;
  margin-bottom: 25px;
  /* border: 2px solid #dd9a05; */
  border: 2px solid var(--desktopPrimary);
}
#teck {
  background-color: #090514;
  width: 100%;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px solid blue; */
}
/* ALL SKILLS PARENT CONTAIENR  */
.iconsContainer {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  /* border: 2px solid green; */
}
/* INDIVIDUAL CHILDREN (SKILLS) */

.box {
  /* background-color: #1a1036; */
  display: block;
  padding: 8px 0px;
  box-shadow: 0px 3px 4px var(--desktopPrimary);
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
}
.box:hover {
  box-shadow: none;
  background: var(--desktopPrimary);
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1.05);
}
.box:nth-child(11) > img {
  filter: invert(100%);
}

.title {
  color: white;
  text-align: center;
  font-size: 17px;
}

.icon {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

/* Media Query for Tablets Ipads portrait mode */

@media screen and (max-width: 1200px) {
  #teck {
    /* padding-left: 5%;
    padding-right: 5%; */
    background-color: #882673;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media screen and (max-width: 820px) {
  #teck {
    background-color: #0b172a;
    padding-top: 20px;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
  }
  .iconsContainer {
    /* background-color: purple; */
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  .box {
    background-color: #031d41;
  }
  .headingTeck {
    font-size: 30px;
  }
  .lineTeck {
    margin-bottom: 15px;
  }
  .icon {
    width: 60px;
  }
}
/* mobile */
/* Media Query for Mobile Devices */

@media screen and (max-width: 480px) {
  #teck {
    background-color: #800000;
    /* border: 2px solid green;  */
    /* padding-left: 2%;
    padding-right: 2%; */
  }

  .iconsContainer {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    /* border: 2px solid white; */
  }

  .box {
    background-color: #a52a2a;
  }
  .box:hover {
    background-color: #882673;
    border-radius: 5px;
  }
  .headingTeck {
    font-size: 30px;
    width: 65%;
  }
  .lineTeck {
    width: 150px;
    margin-bottom: 15px;
  }
  .icon {
    width: 50%;
  }
}
